.node {
    padding: 12px 18px;
    border-radius: 999px;
    background: #ffb703;
    font-weight: 600;
    color: #000;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
}

.level-0 {background: #ff595e; color: white;}
.level-1 {background: #1982c4; color: white;}
.level-2 {background: #8ac926;}